*{
    margin: 0;
    padding: 0;
}
/* Bangladesh 2.0 start */
.bangladesh{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1000px;
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}   
.bangladesh h2{
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
}   
.bangladesh a{
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
}   
/* Bangladesh 2.0 end */
/* banner start */
.banner{
   background: #C6E4D6;
   display: flex;
   justify-content: center;
   font-family: "Fira Sans", sans-serif;
   align-items: center;
   gap: 64px;
   padding: 80px 100px;
   margin-bottom: 80px;
   border-radius: 24px;
   width: 1280px;
margin: auto;
}
.b-content{
   
}
.b-content h3{
   font-size: 24px;
   font-weight: 500;
   color: rgba(14, 14, 14, 0.50);
   margin-bottom: 16px;
}
.b-content h2{
   color: #0E0E0E;
   font-size: 56px;
   font-weight: 700;
   margin-bottom: 24px;
}
.b-content a{
   text-decoration: none;
   border-radius: 8px;
   background: #006A50;
   padding: 17px 32px;
   color: white;
}
/* banner end */
/* future start */
.f-content{
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 32px;
}
.f-content h2{
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}
.f-content p{
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.future{
    font-family: "Fira Sans", sans-serif;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: 20px;
    margin-bottom: 80px;
}
.f-box1{
    background: rgba(84, 144, 245, 0.20);
    padding: 32px;
    border-radius: 16px;
}
.f-box1 img{
    margin-bottom: 24px;
}
.f-box1 h3{
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}
.f-box1 p{
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 24px;

}
.f-box1 a{
    text-decoration: none;
    border-radius: 8px;
    background: #5490F5;
    color: white;
    padding: 11px 20px;
}
.f-box2{
    padding: 32px;
    border-radius: 16px;
    background: #C6E4D6;
}
.f-box2 img{
    margin-bottom: 24px;
}
.f-box2 h3{
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}
.f-box2 p{
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 32px;
}
.f-box2 a{
    text-decoration: none;
    border-radius: 8px;
    background: #09A15C;
    color: white;
    padding: 11px 20px;
    
}
.f-box3{
    background: #F7EBCF;
    border-radius: 16px;
    padding: 32px;

}
.f-box3 img{
    margin-bottom: 24px;
}
.f-box3 h3{
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}
.f-box3 p{
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 32px;
}
.f-box3 a{
    text-decoration: none;
    border-radius: 8px;
    background: #FFC239;
    color: white;
    padding: 11px 20px;
}
/* future end */
/* recent news start */
.r-content{
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 32px;
}
.r-content h2{
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.r-content p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.70);
    line-height: 24px;
}
/* recent news end */
/* satelite start */
.satelite{
    margin-bottom: 80px;
}
.satelite-1{
    display: flex;
    justify-content: center;
    gap: 32px;
    background: #FFF;
    border-radius: 24px;
    padding: 48px;
    margin-bottom: 20px;
}
.s-img{
     width: 408px;
}
.s-img img{
     width: 100%;
     border-radius: 24px;
}
.s-content{
     font-family: "Fira Sans", sans-serif;
}
.s-content h2{
     font-size: 32px;
     font-weight: 700;
     color: rgba(14, 14, 14, 0.80);
     margin-bottom: 12px;
}
.s-content img{
     margin-bottom: 12px;
}
.s-content h5{
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     color: rgba(14, 14, 14, 0.70);
     gap: 12px;
     margin-bottom: 12px;
}
.s-content p{
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     color: rgba(14, 14, 14, 0.70);
     margin-bottom: 32px;
}
.s-content a{
     text-decoration: none;
     background: #006A50;
     color: white;
     font-size: 18px;
     font-weight: 600;
     padding: 13px 26px;
     border-radius: 8px;
}
.s-content span{
    gap: 12px;
}
/* satelite end */
/* donate today start */
.d-content{
   font-family: "Fira Sans", sans-serif;
   text-align: center;
   margin-bottom: 32px;
}
.d-content h2{
   color: #0E0E0E;
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 24px;
}
.d-content p{
   color: rgba(14, 14, 14, 0.70);
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
}
.donate{
   display: flex;
   justify-content: center;
   gap: 24px;
   font-family: "Fira Sans", sans-serif;
   margin-bottom: 32px;
}
.d-box1{
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius:  16px;
    background: #FFF;
}
.d-box1 h2{
    color: rgba(14, 14, 14, 0.80);
    font-size: 40px;
    font-weight:700;
}
.d-box2{
    background: #C6E4D6;
     padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius:  16px;
}
.d-box2 h2{
    color: rgba(14, 14, 14, 0.80);
    font-size: 40px;
    font-weight:700;
}
.d-today{
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 20px 40px;
    background: #FFF;
    margin: auto;
    width: 1032px;
    margin-bottom: 32px;
}
.d-today h5{
    color: rgba(14, 14, 14, 0.30);
    font-size: 20px;
    font-weight: 400;
}
.d-btn{
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 80px;
}
.d-btn a{
    text-decoration: none;
    background: #006A50;
    border-radius: 8px;
    color: white;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
}
/* donate today end */
/* footer start */
footer{
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    padding:  50px 160px;
    align-items: center;
    background: #FFF;
}
footer h5{
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}
footer hr{
    background: rgba(14, 14, 14, 0.10);
    width: 1100px;
    margin: auto;
    margin-bottom: 32px;
}
.f-img{
    display: flex;
    justify-content: center;
    gap: 23px;
}
.f-img img{

}
/* footer end */